<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>ACCLang Compiler</title>
  </head>
  <body>
    <div class="app-container">
      <div class="navbar-container">
        <div class="navbar-left">
          <button class="run-button">
            <img
              src="{{ url_for('static', filename='assets/button-run.png') }}"
              alt="Run"
            />
          </button>
          <button class="save-button">
            <img
              src="{{ url_for('static', filename='assets/button-save.png') }}"
              alt="Save"
            />
          </button>
          <button class="open-button">
            <img
              src="{{ url_for('static', filename='assets/button-open.png') }}"
              alt="Open"
            />
          </button>
        </div>

        <div class="navbar-right">
          <div class="logo-container">
            <img
              src="{{ url_for('static', filename='assets/logo-dark.png') }}"
              alt="ACCLang Logo"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
