@font-face {
  font-family: 'Fredoka';
  src: url('../static/fonts/Fredoka-VariableFont.ttf') format('truetype');
}

body {
  font-family: 'Fredoka', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #f8f8f8 0%, #e1e1e1 100%);
}

.app-container {
  margin: 10px 10px;
}

/* Navbar */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 10px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left button {
  background-color: transparent;
  border: none;
  margin-right: 15px;
  cursor: pointer;
  border-radius: 12px;
  transition: transform 0.1s;
}

.navbar-left button:active {
  transform: scale(0.98);
}

.navbar-left button img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  transition: opacity 0.1s;
}

.navbar-left button:active img {
  opacity: 0.7;
}
.navbar-right {
  display: flex;
  align-items: center;
}

.logo-container {
  margin-right: 40px;
}

.logo-container img {
  width: 200px;
  height: auto;
}

/* Main */

.main-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
  margin: 0 10px;
}

.main-left-container {
  display: grid;
  grid-template-rows: 3fr 1fr;
  gap: 15px;
  height: calc(100vh - 100px);
}

.editor-container {
  background: linear-gradient(
    107.95deg,
    rgba(251, 150, 150, 0.26) 0%,
    rgba(199, 199, 199, 0.26) 48.5%,
    rgba(215, 205, 167, 0.26) 97%
  );
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

.editor-tab {
  margin-right: 15px;
  background-color: #ffff;
  margin-left: 25px;
  border-radius: 5px 5px 0 0;
  width: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tab-text {
  margin-left: 5px;
}

.editor-wrapper {
  display: flex;
  flex: 1;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.line-numbers {
  width: 10px;
  padding: 10px;
  text-align: right;
  color: #333;
  background-color: #ffff;
  border-radius: 0 0 0 10px;
  overflow: hidden;
  font-family: monospace;
  font-size: 14px;
  height: calc(100% - 20px);
  /* max-height: 450px; */
}

.editor {
  resize: none;
  width: calc(100% - 100px);
  border: none;
  font-family: monospace;
  font-size: 14px;
  outline: none;
  padding: 10px;
  background-color: #ffff;
  border-radius: 0 10px 10px 0;
  height: calc(100% - 20px);
  /* max-height: 450px; */
}

.compiler-log-container {
  background: linear-gradient(
    107.95deg,
    rgba(251, 150, 150, 0.26) 0%,
    rgba(199, 199, 199, 0.26) 48.5%,
    rgba(215, 205, 167, 0.26) 97%
  );
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  padding: 10px 20px 10px 20px;
  overflow-y: auto;
}

.compiler-log {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  padding: 10px;
  font-family: monospace;
  white-space: pre-wrap;
  color: #333;
  height: calc(100% - 40px);
}

.compiler-log-tab {
  margin-right: 15px;
  background-color: #ffff;
  border-radius: 5px 5px 0 0;
  width: 120px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tab-text-compiler-log {
  margin-left: 5px;
}

/* Table */

.main-right-container {
  background: linear-gradient(
    107.95deg,
    rgba(251, 150, 150, 0.26) 0%,
    rgba(199, 199, 199, 0.26) 48.5%,
    rgba(215, 205, 167, 0.26) 97%
  );
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  padding: 20px;
}

.table-tab {
  background-color: #ffff;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 55px;
  padding: 3px;
}

.tab-text-table {
  margin-left: 5px;
}

.table-container {
  background-color: #ffff;
  width: 100%;
  border-radius: 0 10px 10px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: calc(100% - 20px);
}

.table-wrapper {
  width: 100%;
  border-collapse: collapse;
}

.table-wrapper thead {
  border-bottom: 2px solid lightgrey;
}

.table-wrapper th {
  padding: 10px;
  background-color: #e0e0e0;
}

.table-wrapper td {
  padding: 5px;
  text-align: center;
}

.table-wrapper tr:nth-child(even) {
  background-color: #e0e0e0;
}

.table-wrapper tr:nth-child(odd) {
  background-color: #ffffff;
}
